<template>
   <div id="app">
       <div class="row justify-content-center">
           <div class="col-md-8">
               <div class="card">
                   <div class="card-header">{{ __('Customers') }}</div>

                   <div class="card-body">
                       @if (session('status'))
                       <div class="alert alert-success" role="alert">
                           {{ session('status') }}
                       </div>
                       @endif

                       {{ __('You are logged in!') }}
                       <table class="table table-striped">
                           <thead>
                           <tr>

                               <th scope="col">Name</th>
                               <th scope="col">Email</th>
                               <th scope="col">Phone</th>
                               <th scope="col">Action</th>

                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                               <td>Mark</td>
                               <td>Otto</td>
                               <td>@mdo</td>
                               <td>
                                   <a href="" class="btn btn-primary">Edit</a>
                                   <a href="" class="btn btn-danger">Delete</a>
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
